/* 公用样式 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: PingFang-SC-Medium;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0;
}
a {
  display: block;
  text-decoration: none;
  color: #333;
}
img {
  vertical-align: middle;
}
h3,
h4 {
  font-weight: normal;
}
ul,
li {
  list-style: none;
}
i {
  font-style: normal;
}
input {
  outline: none;
  border: none;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #999;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #999;
}
/* 搜索条 */
.search-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 54px;
  padding: 14px 15px 8px;
  background-color: #3784fa;
  z-index: 999;
}
.search-box .search-bar {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 10px;
  background-color: #2869db;
  border-radius: 5px;
}
.search-box .search-bar .search-icon {
  margin-right: 10px;
}
.search-box .search-bar .search-icon > img {
  width: 15px;
  height: auto;
}
.search-box .search-bar .search-input {
  flex: 1;
}
.search-box .search-bar .search-input > input {
  width: 100%;
  padding: 2px 0;
  background-color: transparent;
  color: #fff;
}
.padding-top {
  padding-top: 54px;
}
/* 底部导航条 */
.footer-nav-tabs {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 49px;
  display: flex;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px -1px 0px 0px rgba(195, 195, 195, 0.33);
}
.footer-nav-tabs .nav-tab {
  flex: 1;
  height: 100%;
}
.footer-nav-tabs .nav-tab > a {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer-nav-tabs .nav-tab img {
  width: 20px;
  height: auto;
}
.footer-nav-tabs .nav-tab .tab-name {
  display: inline-block;
  margin-top: 5px;
  font-size: 12px;
  line-height: 1em;
  color: #666;
}
.footer-nav-tabs .active .tab-name {
  color: #3784fa;
}
