/* 课程相关页 */
/* ******************************** */
/* 课程中心 */
.course_center_main .banner-swiper {
  padding: 20px 25px 10px;
}
.course_center_main .banner-swiper .swiper-container {
  padding: 0;
}
.course_center_main .banner-swiper .swiper-container .swiper-slide {
  border-radius: 5px;
}
.course_center_main .course-nav .column-title {
  position: relative;
  padding: 15px 12px;
  font-family: PingFang-SC-Bold;
  font-size: 16px;
  line-height: 1em;
  color: #333333;
}
.course_center_main .course-nav .column-title::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 3px;
  height: 23px;
  transform: translateY(-50%);
  background-color: #feca52;
}
.course_center_main .course-nav .class-nav {
  padding: 5px 0;
  display: flex;
  flex-wrap: wrap;
}
.course_center_main .course-nav .class-nav .class-tab {
  flex-basis: 25%;
  margin-bottom: 20px;
}
.course_center_main .column-hot .hot-course-list {
  padding: 2px 5px 33px;
  overflow: hidden;
}
.course_center_main .column-hot .hot-course-list .hot-course {
  position: relative;
  float: left;
  width: 150px;
  margin: 0 5px;
  border-radius: 10px;
  overflow: hidden;
}
.course_center_main .column-hot .hot-course-list .hot-course .course-pic {
  background-color: #02a3fb;
  border-radius: 10px;
  overflow: hidden;
}
.course_center_main .column-hot .hot-course-list .hot-course .course-pic > img {
  width: 100%;
  height: auto;
}
.course_center_main .column-hot .hot-course-list .hot-course .course-info {
  margin-top: 15px;
}
.course_center_main .column-hot .hot-course-list .hot-course .course-info .course-name {
  font-size: 14px;
  line-height: 1em;
  color: #333;
}
.course_center_main .column-hot .hot-course-list .hot-course .course-info .study-num {
  margin-top: 10px;
  font-size: 12px;
  line-height: 1em;
  color: #999;
}
.course_center_main .column-hot .hot-course-list .num1::after,
.course_center_main .column-hot .hot-course-list .num2::after,
.course_center_main .column-hot .hot-course-list .num3::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 33px;
  z-index: 999;
}
.course_center_main .column-hot .hot-course-list .num1::after {
  background: url(../images/icon6.png) no-repeat;
  background-size: cover;
  background-position: center center;
}
.course_center_main .column-hot .hot-course-list .num2::after {
  background: url(../images/icon7.png) no-repeat;
  background-size: cover;
  background-position: center center;
}
.course_center_main .column-hot .hot-course-list .num3::after {
  background: url(../images/icon8.png) no-repeat;
  background-size: cover;
  background-position: center center;
}
/* ******************************** */
/* 课程分类 */
.class_main {
  padding-top: 11px;
}
.class_main .tab-menu .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.class_main .tab-menu .menu .menu-left {
  display: flex;
  align-items: center;
}
.class_main .tab-menu .menu .menu-left .btn-aside-menu {
  padding: 0 12px;
  height: 44px;
  line-height: 44px;
}
.class_main .tab-menu .menu .menu-left .btn-aside-menu > img {
  width: 20px;
  height: auto;
}
.class_main .tab-menu .menu .menu-left .curClass {
  font-family: PingFang-SC-Bold;
  font-size: 20px;
  color: #333333;
}
.class_main .tab-menu .menu .menu-right .btn-filter {
  padding: 0 12px;
  height: 44px;
  line-height: 44px;
  font-size: 14px;
  color: #666666;
}
.class_main .tab-menu .nav-tabs {
  display: flex;
  justify-content: space-around;
  box-shadow: 0px 1.5px 3.5px 0px rgba(55, 132, 250, 0.1);
}
.class_main .tab-menu .nav-tabs .nav-tab {
  position: relative;
  height: 38px;
  line-height: 38px;
  font-size: 14px;
  color: #666666;
}
.class_main .tab-menu .nav-tabs .active {
  color: #3784fa;
}
.class_main .tab-menu .nav-tabs .active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 3px;
  background-color: #3784fa;
  border-radius: 1.5px;
}
.class_main .tab-content {
  padding: 0 12px;
}
.class_main .tab-content .tab-panel .course-list .course-item {
  margin-top: 20px;
}
.class_main .tab-content .tab-panel .course-list .course-item > a {
  display: flex;
  align-items: center;
}
.class_main .tab-content .tab-panel .course-list .course-item > a .left-pic {
  margin-right: 12px;
  background-color: #02a3fb;
  border-radius: 5px;
  overflow: hidden;
}
.class_main .tab-content .tab-panel .course-list .course-item > a .left-pic > img {
  width: 125px;
  height: auto;
}
.class_main .tab-content .tab-panel .course-list .course-item > a .right-info {
  flex: 1;
}
.class_main .tab-content .tab-panel .course-list .course-item > a .right-info .name {
  font-size: 16px;
  line-height: 1em;
  color: #333333;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.class_main .tab-content .tab-panel .course-list .course-item > a .right-info .people {
  margin-top: 30px;
}
.class_main .tab-content .tab-panel .course-list .course-item > a .right-info .people .icon_people {
  margin-right: 6px;
}
.class_main .tab-content .tab-panel .course-list .course-item > a .right-info .people .icon_people > img {
  width: 9px;
  height: auto;
}
.class_main .tab-content .tab-panel .course-list .course-item > a .right-info .people .num {
  font-size: 12px;
  color: #999;
}
.aside_menu_container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1000;
}
.aside_menu_container .aside_menu {
  position: relative;
  width: 175px;
  height: 100%;
  padding-top: 32px;
  background-color: #fff;
}
.aside_menu_container .aside_menu .title {
  font-family: PingFang-SC-Bold;
  padding: 0 12px;
  font-size: 18px;
  line-height: 1em;
  color: #333333;
}
.aside_menu_container .aside_menu .menu {
  margin-top: 23px;
}
.aside_menu_container .aside_menu .menu .menu-item > a {
  display: flex;
  height: 40px;
  align-items: center;
  padding: 0 19px;
}
.aside_menu_container .aside_menu .menu .menu-item .icon {
  margin-right: 10px;
}
.aside_menu_container .aside_menu .menu .menu-item .icon > img {
  width: 19px;
  height: auto;
}
.aside_menu_container .aside_menu .menu .menu-item .item-name {
  font-size: 16px;
  line-height: 1em;
  color: #333333;
}
.aside_menu_container .aside_menu .menu .menu-item .sub-menu {
  display: none;
}
.aside_menu_container .aside_menu .menu .menu-item .sub-menu .item > a {
  padding-left: 48px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #333333;
}
.aside_menu_container .aside_menu .menu .menu-item .sub-menu .active {
  background-color: rgba(55, 132, 250, 0.5);
}
.aside_menu_container .aside_menu .menu .menu-item .sub-menu .active > a {
  color: #fff;
}
.aside_menu_container .aside_menu .btn-menu-close {
  position: absolute;
  right: 0;
  top: 20px;
  padding: 10px;
  cursor: pointer;
}
.aside_menu_container .aside_menu .btn-menu-close > img {
  width: 20px;
  height: auto;
}
